llama-index==0.10.44
llama-index-llms-openai==0.1.22
llama-index-graph-stores-neo4j==0.2.4
llama-index-embeddings-huggingface==0.2.1
streamlit
streamlit_code_editor
streamlit-extras
pymongo
neo4j
graphviz
pandas
psycopg2-binary
psycopg[binary,pool]
sql-metadata
